{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'tasks/css/styles.css' %}" type="text/css">
</head>
<div class="center-column">
    <form method="POST" action="">
        {% csrf_token %}

        {{ form }}
        <input class="btn btn-success" type="submit" value="Update Task">
    </form>
    <a class="link-filled btn btn-warning" href="{% url 'list' %}">Cancel</a>
</div>
</html>